//- ////////MIXINS/////////
mixin img-folder-lazyloaded-lg(name,sequence,folder)
  figure.img-cont
    img(class="lazy", data-groups=name, data-src="imgs/photography-lg/"+folder+"/"+name+"_"+sequence+"-1500.jpg", alt=name, onerror="hide()") 


mixin img-lazyloaded-lg(name,sequence)
  figure(class=name+" img-cont element-item" data-groups=name) 
    img(class="lazy grid-image", data-src="imgs/photography-lg/"+name+"/"+sequence+".jpg", onerror="", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E") 

mixin grid-img(name,sequence)
  figure(class=name+" img-cont element-item" data-groups=name) 
    img(class="lazy grid-image", data-src="imgs/photography-lg/"+name+"/"+sequence+".jpg", onerror="", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E") 
