mixin grid-item(title,link,desc,tiltm,image,name)
    //- - var link = "arcteryx" + end    
    a(href=link data-tilt data-tilt-startX=tiltm).grid-item.tilt&attributes(attributes)= name
        .proj-title
            h1=title
                .genre=desc
        .project-img
            img(src=image, alt="").maskable
        
doctype html
html(lang='en')
    head
        include ./includes/head1.pug
        title Aliasger Rasheed
    body.index
        - var end = ".html"
        header
            include ./includes/nav1.pug   
        main
            -var tiltp="8"
            -var tilts="-8"
            //- +grid-item("TPR Conception des Impresarios","tpr.html","digital intentions behind physical productions",tiltp,"imgs/arcy/cover.jpg",arcy)

            //- +grid-item("UNESCO Lodestar","unesco.html","Rethinking education through World Heritage",tiltp,"imgs/arcy/cover.jpg",arcy)

            +grid-item("Arc'teryx Fulcrum","arcteryx.html","service design for product care",tiltp,"imgs/arcy/cover.jpg",arcy)

            +grid-item("Threads To Heaven","threadstoheaven.html","speculative design exploring the choice of a 'good death'",tilts,"imgs/projects/spec.jpg")

            +grid-item("Gakko 2019","gakko.html","summer camp focusing on design & new media",tiltp,"imgs/projects/gakko.jpg")
            

            +grid-item("Graphic Design et al.","gd.html",
            "Posterjam; personal projects; experiments",tilts,"imgs/projects/posterjam.png")

            //- - var link = "arcteryx" + end    
            //- a(href=link).grid-item.tilt  
            //-     .proj-title
            //-         h1 Arc'teryx
            //-     .project-img
            //-         img(src="imgs/projects/arcy2"+".jpg", alt="").maskable
            //-     .genre A user research and service design project on product care
            
            - var link = "javascript:;"       
            a(href=link).grid-item.in-progress
                .proj-title
                    h1 OpenIDEO Bagsket 
                        .genre smart bag UX/UI & industrial design submission 
                .project-img
                    img(src="imgs/projects/bagsket"+".jpg").maskable 
                
                
            //- - var link = "charette"    + end       
            //- section.grid-item
            //-   a(href=link).project-img
            //-     img(src="imgs/charette/hearth-underlit"+".jpg", alt=" Hearth Model").maskable
            //-   a(href=link).proj-title
            //-     h1 Hearth 
            //-   ul.genre
            //-     li Photography
            //-     li 3D Modelling
            //-     li Model Making

            //- - var link = "headset" + end

            //- section.grid-item#headset 
            //-   a(href=link).project-img
            //-     img(src="imgs/projects/headset"+".jpg", alt=" Kamishibai Headset title").maskable.saturate
            //-   a(href=link).proj-title
            //-     h1 Kamishibai
            //-   ul.genre 
            //-     li A VR headset designed for experiencing 
            //-     li traditional Japanese Kabuki Theatre
                //- li Industrial Design
                //- li 3D Modelling

        footer
            include ./includes/footer1.pug 

        
        