//- ////////MIXINS/////////
mixin img-lazyloaded-lg(name,sequence)
  a(class=name+" img-cont element-item p-tilt" data-groups=name data-lightbox=name href="imgs/photography-lg/"+name+"/" + sequence +".jpg") 
    img(class="lazy photo-img", data-src="imgs/photography-sm/"+name+"/"+sequence+".jpg" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E") 


//- mixin img-folder-lazyloaded-lg(name,sequence,folder)
//-   figure.img-cont 
//- mixin img-cap-lazyloaded-lg(name,sequence,caption) 
//-   figure.img-cont
//-     img(class="lazy", data-groups=name, data-src="imgs/photography-lg/"+name+"_"+sequence+"-1500.jpg", alt=name, onerror="hide()")          
//-     figcaption = caption

//- ///////////ARRAYS/////////   
doctype  
html(lang='en')
  head
    include ./includes/head1.pug
    title Photography - Ali Rasheed
  body 
    header.gallery
      include ./includes/nav1.pug  


    main.gallery 
      #portfolioFilter    
        //- #sizeBtns          
        //-   button#add.colorH.fal.fa-search-plus
          button#subtract.colorH.fal.fa-search-minus  
        input(type="radio", name="imgFltr", data-filter="*" checked="checked").current#all-categories   
        label(for="all-categories") All Categories
 
        input(type="radio", name="imgFltr",data-filter=".anthro")#anthro 
        label(for="anthro" ) Anthropogenic Landscape


        input(type="radio", name="imgFltr",data-filter=".people")#human 
        label(for="human") Human

        input(type="radio", name="imgFltr",data-filter=".architectural")#architectural 
        label(for="architectural") Architectural  
      

        input(type="radio", name="imgFltr",data-filter=".natural")#natural  
        label(for="natural") Natural Landscape

        input(type="radio", name="imgFltr",data-filter=".still-life")#still-life  
        label(for="still-life") Still Life
   
          
      section.photography-grid#portfolioContainer
        - for(var i=1; i<30; i++)
          +img-lazyloaded-lg("people",i)
          +img-lazyloaded-lg("anthro",i)
          +img-lazyloaded-lg("architectural",i)
          +img-lazyloaded-lg("still-life",i)
          +img-lazyloaded-lg("natural",i)
           
          
    footer
      include ./includes/footer2.pug