
mixin img-cap-lazyloaded(name,path,caption) 
  figure.ml-sect
    img(class="lazy", data-src="imgs/posterjam/"+path, alt=name, onerror="hide()") 
    figcaption=caption

mixin gd-ll-lg(name1,name2,caption)
    a(class=name1+" img-cont element-item p-tilt" data-groups=name1 data-lightbox="gd" data-title=caption href="imgs/posterjam/"+name2)  
        img(class="lazy grid-image", data-src="imgs/posterjam/"+name1, src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E") 

doctype
html(lang='en')
    head
        include ./includes/head1.pug
        title Posterjam - Ali Rasheed
    body 
        header
            include ./includes/nav1.pug 

        main.gallery 

            section#overview.x12c.grid  
            
                h1.main-heading Posterjam
                //- p.big.ml-sect 
                //-   em September 2019 - January 2020      


                p.big#summary
                    a(href="https://posterjam.ro/", title="Posterjam").in-txt Posterjam
                    //- |  is a 
                    //- strong monthly graphic design challenge hosted online.
                    //- |Participants are 
                    //- strong given a prompt for that month
                    //- |, using it to design posters, with concept, technique and art-direction left to the designer’s interpretation. Designers compete to have their posters displayed in various locations in Bucharest, Romania, and have their work highlighted.
                    |
                    |is a monthly online graphic design challenge. designers are given the constraint of a single word prompt for each month. The concept, technique and art-direction is left to the designer.
            
            section.gd-grid#gdCont
                +gd-ll-lg("poster-7.jpg","poster-7.jpg","Procedurally-generated Nebula full of star-dust!") 
                +gd-ll-lg("poster-6.jpg","poster-6.jpg","Procedurally-generated Nebula full of star-dust!") 
                +gd-ll-lg("poster-5.jpg","poster-5.jpg","Procedurally-generated Nebula full of star-dust!") 
                +gd-ll-lg("poster-4.jpg","poster-4.jpg","Procedurally-generated Nebula full of star-dust!") 

        //- section.grid.x12c
        //-     h2.l-sect February Prompt: time 
            
        //-     figure.ml-sect
        //-         img(data-src="imgs/posterjam/poster-7.jpg" alt="screen printing activity" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E").lazy
        //-         //- figcaption Figure A
        //-     //- h6.ml-sect Figure A
        //-     p.ml-sect To visually represent time,  I was inspired the British TV show Doctor Who where they travel through a luminous time vortex.  The layering of the arcs forces the viewer to read the text through 
        //-         a(href="https://www.creativebloq.com/graphic-design/gestalt-theory-10134960#03-closure").in-txt Gestalt closure
        //-         |.

        //- hr

        //- section.grid.x12c
        //-     h2.l-sect December-January Prompt: suprise  
        //-     //- +img-cap-lazyloaded("","poster-6.jpg","")
            
        //-     figure.ml-sect   
        //-         img(data-src="imgs/posterjam/poster-6.jpg",src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E").lazy        
            
        //-     //- h5.ml-sect Figure A
        //-     p.ml-sect I interpret "surprise" as juxtaposition. The use of legendary graphic designer Massimo Vignelli's quote juxtaposes with the use of Comic Sans. It is definitely not among the "few basic ones". My choice of grid also reflects Vignelli's signature use of grids in his work. The transparency guides the eye through the composition
            
        //- hr

        //- section.grid.x12c    
        //-     h2.l-sect October Prompt: grid  
            
        //-     figure.ml-sect   
        //-         img(data-src="imgs/posterjam/poster-4.jpg",src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E").lazy 

        //-         //- figcaption fig. B     
        //-     p.ml-sect This poster incorporates 2 grids formats. The first is a radial grid, which I decided to ripple from a point to create a flow for the eye, where it collides with the second grid - the rows and columns that emerge from monospaced typography.

        //- hr.small


        //- section.grid.x12c    

        //-     figure.ml-sect   
        //-         img(data-src="imgs/posterjam/poster-5.jpg",src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E").lazy        
        //-         //- figcaption fig. A

        //-     //- h4.ml-sect Figure A
        //-     //- h4 Figure B
        //-     //- p
        //- hr    

        //- section.grid.x12c
        //-     h2.ml-sect September Prompt: 2    
            
        //-     //- +img-cap-lazyloaded("September","poster-1.png","Figure A")
        //-     figure.ml-sect   
        //-         img(data-src="imgs/posterjam/poster-1.jpg",src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E").lazy     

        //-     p.ml-sect '2' reminded me of a photograph I took of 2 school-children, and a quote by author C.S Lewis: 
        //-     p.med.quote.ml-sect “Friendship is born at that moment when one person says to another: ‘What! You too? I thought I was the only one”. 
        //-     p.ml-sect
        //-         mark I experimented with alignment, using graphical elements as compositional supports, and textures till I came to this composition. 

        //- hr.small

        //- section.grid.x12c

        //-     figure.ml-sect   
        //-         img(data-src="imgs/posterjam/poster-2.jpg",src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E").lazy     

        //-     p.ml-sect A no.2 pencil = ubiquitous “2”. Another opportunity to explore using texture; I attempted to replicate  lined paper, albeit with a underlaid pencil. I also reused the photograph from my previous poster, using the children' outline to create a counterbalance to the pencil.

        //- hr.small

        //- section.grid.x12c
        //-     figure.ml-sect   
        //-         img(data-src="imgs/posterjam/poster-3.jpg",src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E").lazy     
            
        //-     p.ml-sect I utilized the concept of a Antichthon - planets in the same orbit but on opposing ends of the orbital ellipse. The noisy spheres are used to create visual interest, and similar lines are used create unity.

            //- +img-cap-lazyloaded("September","poster-2.png","Figure B")

            //- +img-cap-lazyloaded("September","poster-3.png","Figure C")

            //- h4 Figure A

            //- h4 Figure B

            //- h4 Figure C
        footer 
            include ./includes/footer2.pug  
